.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 5px; /* Reduje el padding */
    font-size: 7px;
    z-index: 100;
  }
  
  .footer-cta,
  .footer-content,
  .footer-widget,
  .footer-text,
  .subscribe-form {
    margin-bottom: 5px; /* Ajusté el margen */
  }
  
  .footer-social-icon i {
    font-size: 5px;
  }
  
  .footer-social-icon img {
    width: 10px;
    height: 10px;
  }
  
  .footer-logo img {
    width: 30px; /* Reduje el tamaño del logo */
    height: auto;
  }
  
  .subscribe-form input {
    font-size: 6px;
  }
  
  .footer-widget ul {
    margin-top: 2px;
  }
  
  .footer-widget ul li {
    font-size: 4px; /* Reduje el tamaño del texto de la lista */
    margin-bottom: 2px;
  }
  