<!-- change-password.component.html -->
<div class="password-change-container">
    <label for="currentPassword">Contraseña actual:</label>
    <input type="password" id="currentPassword" [(ngModel)]="currentPassword" required class="password-input">
  
    <label for="newPassword">Nueva contraseña:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" required class="password-input">
  
    <label for="confirmNewPassword">Confirmar nueva contraseña:</label>
    <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" required class="password-input">
  
    <button (click)="onSubmit()" class="change-password-button">Cambiar Contraseña</button>
  
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
