.sidebar {
  width: 200px;
  height: 100%;
  background-color: rgba(51, 51, 51, 1); /* Ajusta el último valor (0.9) para cambiar la opacidad */
  color: #fff;
  padding: 20px;
  position: fixed; 
}

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  