
<body>

<div class="overlay">
    <p>
      La caja menor es un fondo destinado a cubrir gastos menores y operativos de una organización,
      <br /> simplificando la gestión de pagos pequeños sin necesidad de procesos administrativos extensos.
      <br /> Facilita la operación diaria, permite un acceso rápido a recursos financieros para necesidades
      <br /> inmediatas y reduce la burocracia asociada con gastos mínimos. Su uso implica control, autorización,
      <br /> y responsabilidad en la rendición de cuentas, contribuyendo a una gestión
      <br /> eficiente de los recursos financieros.
    </p>
  </div>
</body>