body, html {
    margin: 0;
    padding: 0; 
    background-image: url('../../assets/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center; /* Agregado */
    align-items: center; /* Agregado */
}

p {
  color: rgb(18, 17, 17);
  font-size: 18px;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}